html,
body {
    height: 100%;
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

nav {
    /* background-color: #eb6864; */
    background-color: #ef5350;
}

footer {
    background-color: #ef5350;
    margin-top: auto;
}

/* .content {
    min-height: 100vh;
} */

.pokedex {
    font-size: 22px;
    color: #FFDE00;
    text-shadow: 2px 2px #3B4CCA;
}

.nav-font {
    font-size: 20px;
    color: #FFDE00;
    text-shadow: 2px 2px #3B4CCA;
}

#nav-image {
    height: 40px;
}

.profile-dropdown {
    background-color: #ef5350;
    color: #FFDE00;
    text-shadow: 2px 2px #3B4CCA;
}

.dropdown-menu>li>a:hover {
    background-image: none;
    background-color: #CC0000;
}

.search-btn {
    background-color: #FFDE00;
    font-size: 20px;
}

.search-btn:hover {
    background-color: #3B4CCA;
    color: #FFDE00;
}

/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}


.alert-custom {
    background-color: #ef5350;
    color: #FFDE00;
    text-shadow: 2px 2px #3B4CCA;
    opacity: .9;
}

.alert-custom-box {
    background-color: #B3A125;
    color: #3B4CCA;
    text-shadow: 2px 2px #FF0000;
}

.form-buttons {
    background-color: #FFDE00;
    font-size: 20px;
}

.form-buttons:hover {
    background-color: #3B4CCA;
    color: #FFDE00;
}


.card {
    border-radius: 10px;
    animation-name: fadeBackground;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fadein-animation {
    animation-name: fadeBackground;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.results>.card {
    transition: all 0.2s ease-in-out;
    /* transition: margin 0.2s ease-in-out; */
}

.results>.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    /* margin-top: -30px; */
}

.spinner-div {
    animation-name: fadeBackground;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.pokemon-card {
    background-color: rgb(242, 242, 242);
    border-radius: 25px;
}

.like-icon {
    color: gray;
}

.like-icon:hover {
    color: red;
}

.favorited {
    font-size: 35px;
    color: red;
}

.favorited:hover {
    color: gray;
}

.like-icon-large {
    font-size: 35px;
}

.like-icon-small {
    font-size: 22px;
}

.favorite-button {
    display: flex;
    align-items: center;
}

.pokemon-number {
    font-size: 36px;
    color: #919191;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.captilize-text::first-letter {
    text-transform: uppercase;
}

.pokemon-stats {
    width: 99%;
    margin-left: 0.1em;
    border-radius: 25px;
    padding: 15px;
}

.abilities-lg {
    margin-left: 1.5em;
}

.detail-type {
    transform: scale(1.5);
    padding: 5px 25px;
    margin-right: 5em;
}

#pokefact {
    font-size: 22px;
    color: #1d1c1c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .pokemon-info {
    
} */

.ability-popout {
    color:#696969;
}

.ability-popout:hover {
    color: #fff;
}

a.icoGitHub:hover {
    background-color: #171515;
}
  
a.icoLinkedin:hover {
    background-color: #007bb7;
}

a.icoGoogle:hover {
    background-color: #ecb9b4;
}

/* ---- color badges for pokemon types ---- */
.badge-type-normal {
    background-color: #A8A77A;
}

.badge-type-fighting {
    background-color: #C22E28;
}

.badge-type-flying {
    background-color: #A98FF3;
}

.badge-type-poison {
    background-color: #A33EA1;
}

.badge-type-ground {
    background-color: brown;
}

.badge-type-rock {
    background-color: #B6A136;
}

.badge-type-bug {
    background-color: #A6B91A;
}

.badge-type-ghost {
    background-color: #735797;
}

.badge-type-steel {
    background-color: #B7B7CE;
}

.badge-type-fire {
    background-color: #EB6864;
    color: white;
}

.badge-type-water {
    background-color: rgb(53, 53, 223);
    color: white;
}

.badge-type-grass {
    background-color: rgb(38, 156, 38);
    color: white;
}

.badge-type-electric {
    background-color: rgb(245, 245, 67);
    color: black;
}

.badge-type-psychic {
    background-color: #F95587;
}

.badge-type-ice {
    background-color: #96D9D6;
}

.badge-type-dragon {
    background-color: orange;
}

.badge-type-dark {
    background-color: black;
    color: white;
}

.badge-type-fairy {
    background-color: #D685AD;
}


.badge-type-unknown {
    background-color: #68A090;
}



/* ---- card animation ---- */
@keyframes fadeBackground {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}