<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Pokédex+{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <link rel="stylesheet" href="/static/app.css">
</head>

<body>

    <div id="particles-js"></div>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <img src="/static/images/nav.png" class="img-fluid m-2" id="nav-image" alt="...">
            <a class="navbar-brand pokedex" href="/">Pokédex Plus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-font" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-font" aria-current="page" href="/pokedex/1">Pokédex</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-font" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Tools
                        </a>
                        <ul class="dropdown-menu profile-dropdown">
                            <li><a class="dropdown-item text-light" href="#">Win Probability Calculator</a></li>
                            <li><a class="dropdown-item text-light" href="/tools/team_creator">Team Creator</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {% if not g.user %}
                    <li class="nav-item d-flex m-2">
                        <a class="nav-link nav-font" aria-current="page" href="/login">Login</a>
                    </li>
                    <li class="nav-item d-flex m-2">
                        <a class="nav-link nav-font" aria-current="page" href="/signup">Signup</a>
                    </li>
                    {% else %}
                    <li class="nav-item d-flex dropdown m-2">
                        <a class="nav-link dropdown-toggle nav-font" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu profile-dropdown">
                            <li><a class="dropdown-item text-light" href="/users/{{g.user.id}}/favorites">Favorites</a></li>
                            <li><a class="dropdown-item text-light" href="/users/{{g.user.id}}/saved_teams">Saved Teams</a></li>
                            <li><a class="dropdown-item text-light" href="/users/profile">Edit Profile</a></li>
                        </ul>
                    </li>
                    <li class="nav-item d-flex m-2">
                        <a class="nav-link nav-font" aria-current="page" href="/logout">Logout</a>
                    </li>
                    {% endif %}
                    <form class="d-flex m-2" role="search" action="/pokedex/search">
                        <input class="form-control me-2" type="search" placeholder="Search Pokédex" aria-label="Search"
                            name="q">
                        <button class="btn btn-warning search-btn" type="submit">Go!</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-12 text-center">
                <div class="spinner-border text-danger" role="status" id="load">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container content">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="m-2 text-center alert alert-{{ category }} alert-dismissible">{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>

    <footer class="mainfooter" role="contentinfo">
        <div class="text-center text-light pb-3">
            <section>
                <a class="btn btn-link btn-floating btn-lg text-light m-1 icoGitHub" target="_blank"
                    href="https://github.com/nguarino522/" role="button" data-mdb-ripple-color="light"><i
                        class="fa-brands fa-github"></i></i></a>
                <a class="btn btn-link btn-floating btn-lg text-light m-1 icoLinkedin" target="_blank"
                    href="https://www.linkedin.com/in/nicholasguarino/" role="button" data-mdb-ripple-color="light"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a class="btn btn-link btn-floating btn-lg text-light m-1 icoGoogle" href="mailto: nguarino05@gmail.com"
                    role="button" data-mdb-ripple-color="light"><i class="fa-solid fa-envelope"></i></i></a>
            </section>
            <span class="mb-3 mb-md-0">&copy; 2023 <a href="https://www.linkedin.com/in/nicholasguarino/"
                    class="text-info" target="_blank">Nicholas Guarino</a></span><br>
            <span>All data has been sourced from <a href="https://pokeapi.co/" class="text-info"
                    target="_blank">PokeApi</a>.</span>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/static/particles.js"></script>
    <script src="/static/app.js"></script>
</body>

</html>