{% extends 'base.html' %}
{% block title %}Favorite Pokémon{% endblock %}

{% block content %}
<div class="fadein-animation alert alert-custom">
    <h1 class="text-center">Here are your current favorited Pokémon!</h1>
</div>

{% if not pokemons %}
<div class="container text-center alert alert-info">
    <h1>No Pokémon currently favorited!</h1>
    <p>You currently don't have any Pokémon currently favorited. Please browse to the Pokédex pages to favorite some Pokémon.</p>
        <div class="text-center">
            <a class="btn btn-warning search-btn mb-2" href="/pokedex/1">View Pokédex!</a>
        </div>
    <img src="{{pikachu_img}}" alt="" style="height:200px;"/>
</div>
{% else %}
<div class="row">

    <section class="results row d-flex justify-content-center">
        {% for pokemon in pokemons %}

        <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-5 mx-3 my-4">
            <a href="/pokedex/pokemon/{{ pokemon.name }}" class="text-decoration-none text-dark" id="pokemonSingleLink">
                <div class="m-3 my-4">
                    <figure>
                        <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }} image" title="{{ pokemon.name }}"
                            class="image img-fluid pokemon-card">
                    </figure>
                    <div class="pokemon-info">
                        <p class="id">
                            <span class="number-prefix">#{{ pokemon.pid }}
                                <button class="btn btn-sm">
                                    <i class="fa fa-heart {% if pokemon.pid not in fav_ids %}like-icon{% else %}favorited{% endif %} like-icon-small favorite-icon-fav-page" 
                                    data-id="{{ pokemon.pid }}">
                                    </i>
                                </button>
                            </span>
                        </p>
                        <h3 class="captilize-text">{{ pokemon.name }}</h3>
                        <div class="abilities">
                            <span class="captilize-text me-2 badge badge-type-{{ pokemon.type1 }}">{{ pokemon.type1}}</span>
                            <span class="captilize-text me-2 badge badge-type-{{ pokemon.type2 }}">{{ pokemon.type2}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
    </section>

</div>
{% endif %}

{% endblock %}