{% extends 'base.html' %}
{% block title %}Pokédex{% endblock %}

{% block content %}
<div class="fadein-animation alert alert-custom">
    <h1 class="text-center">Here are your current favorited pokemon!</h1>
</div>

<div class="row">

    <section class="results row d-flex justify-content-center">
        {% for pokemon in pokemons %}

        <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-5 mx-3 my-4">
            <a href="/pokedex/pokemon/{{ pokemon.name }}" class="text-decoration-none text-dark" id="pokemonSingleLink">
                <div class="m-3 my-4">
                    <figure>
                        <img src="{{ pokemon.image_url }}" alt="bulbasaur image" title="bulbasaur"
                            class="image img-fluid pokemon-card">
                    </figure>
                    <div class="pokemon-info">
                        <p class="id">
                            <span class="number-prefix">#{{ pokemon.pid }}</span>
                        </p>
                        <h3 class="captilize-text">{{ pokemon.name }}</h3>
                        <div class="abilities">

                            <span class="captilize-text me-2 badge badge-type-{{ pokemon.type1 }}">{{ pokemon.type1
                                }}</span>

                            <span class="captilize-text me-2 badge badge-type-{{ pokemon.type2 }}">{{ pokemon.type2
                                }}</span>

                        </div>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
    </section>

</div>


{% endblock %}