{% extends 'base.html' %}
{% block title %}Saved Pokémon Teams{% endblock %}

{% block content %}
<div class="fadein-animation alert alert-custom">
    <h1 class="text-center">Here are your current saved Pokémon teams!</h1>
</div>

{% if not pokemon_teams %}
<div class="container text-center alert alert-info">
    <h1>No Pokémon teams currently exist!</h1>
    <p>You currently don't have any Pokémon teams saved. Please browse to the Team Creator tool page to create some.</p>
        <div class="text-center">
            <a class="btn btn-warning search-btn mb-2" href="/tools/team_creator">View Team Creator!</a>
        </div>
    <img src="{{pikachu_img}}" alt="" style="height:200px;"/>
</div>
{% else %}
{% set count = {'value': 0} %}
{% for team in pokemon_teams %}
<div class="fadein-animation alert alert-custom">
    <h1 class="text-center">Pokémon Team #{{loop.index}}:</h1>
    <form method="POST" action="/users/delete_team/{{team.id}}">
        <div class="text-center my-3 fadein-animation">
            <!-- <input hidden type="text" name="pokemon_ids_text" value="{{team.id}}" id="pokemon_ids"> -->
            <button type="submit" class="btn btn-warning search-btn mx-2 submit-btn-team-create">Delete Team</button>
        </div>
    </form>
</div>

<div class="row">

    <section class="results row d-flex justify-content-center">
        {% for pokemon in team.team_members %}

        <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-5 mx-3 my-4">
            <a href="/pokedex/pokemon/{{ pokemon.pokemon.name }}" class="text-decoration-none text-dark" id="pokemonSingleLink">
                <div class="m-3 my-4">
                    <figure>
                        <img src="{{ pokemon.pokemon.image_url }}" alt="{{ pokemon.pokemon.name }} image" title="{{ pokemon.pokemon.name }}"
                            class="image img-fluid pokemon-card">
                    </figure>
                    <div class="pokemon-info">
                        <p class="id">
                            <span class="number-prefix">#{{ pokemon.pokemon.pid }}</span>
                        </p>
                        <h3 class="captilize-text">{{ pokemon.name }}</h3>
                        <div class="abilities">
                            <span class="captilize-text me-2 badge badge-type-{{ pokemon.pokemon.type1 }}">{{ pokemon.pokemon.type1}}</span>
                            <span class="captilize-text me-2 badge badge-type-{{ pokemon.pokemon.type2 }}">{{ pokemon.pokemon.type2}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
    </section>

</div>
{% endfor %}
{% endif %}

{% endblock %}